Options +FollowSymLinks -MultiViews
RewriteEngine on
RewriteBase /

#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
#RewriteCond %{HTTP_HOST} ^villagex\.org$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.villagex\.org$
RewriteRule ^promo/(.*)$    https://villagex.org/?gc=$1  [NC,L]
RewriteRule ^user/([\d]+)$  https://villagex.org/user_profile.php?id=$1  [NC,L]
RewriteRule ^reset/([\d]+)/(.*)$    https://villagex.org/user_forgotPassword.php?id=$1&code=$2
RewriteRule ^updates/([\d]+)    https://villagex.org/updates.php?projectId=$1
RewriteRule ^track/([\d]+)    https://villagex.org/track.php?projectId=$1
RewriteRule ^fundraiser/([\d]+)$    https://villagex.org/fundraiser_view.php?id=$1  [NC,L]
RewriteRule    ^([\d]+)$    project.php?shortcut=$1    [NC,L]
RewriteRule ^api/([a-z]+)$  api/$1.php  [NC,L]
