RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
RewriteCond %{HTTP_HOST} ^4and\.me$ [OR]
RewriteCond %{HTTP_HOST} ^www\.4and\.me$
RewriteRule    ^([^\#\.]+)$    project.php?id=$1    [NC,L]
