RewriteEngine on

RewriteRule ^promo\/(.*)$	?gc=$1	[NC,L]
RewriteRule ^map$ map.php	[NC,L]
RewriteRule ^list$	project_tiles.php	[NC,L]
RewriteRule ^user\/([^\#\.]+)$	user_profile.php?id=$1	[NC,L]
RewriteRule    ^([^\#\.]+)$    project.php?id=$1    [NC,L]
